[build-system]
requires = [
    "setuptools",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.ruff]
line-length = 100
ignore = [
    # Sorted by occurrence count (ascending) - easier to fix first
    "F405",  # star imports (80 occurrences)
]
